<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ChapterMapper">

    <resultMap id="BaseResultMap" type="com.example.pojo.Chapter">
            <id property="chapterid" column="ChapterID" jdbcType="INTEGER"/>
            <result property="comicid" column="ComicID" jdbcType="INTEGER"/>
            <result property="title" column="Title" jdbcType="VARCHAR"/>
            <result property="ispay" column="ISPay" jdbcType="VARCHAR"/>
            <result property="imgurl" column="ImgUrl" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ChapterID,ComicID,Title,
        ISPay,ImgUrl
    </sql>
</mapper>
