<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.RolesPermissonMapper">

    <resultMap id="BaseResultMap" type="com.example.pojo.RolesPermisson">
            <id property="roleid" column="RoleId" jdbcType="INTEGER"/>
            <id property="permissionsid" column="PermissionsID" jdbcType="INTEGER"/>
            <result property="status" column="Status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        RoleId,PermissionsID,Status
    </sql>
</mapper>
